.team_block {
  color: #323232;
  padding-left: 60px;
  padding-right: 30px;
  display: flex;
  border-bottom: 1.3px solid #F0F0F0;
  height: 49px;
  align-items: center;
  & > span {
    flex: 1;
    text-align: left;
  }
  & > img {
    width: 13px;
    height: 13px;
    cursor: pointer;
  }
  & .toggle_delete{
    & > img {
      cursor: pointer;
    }

  }
}

.add_team_container {
  padding-left: 60px;
  padding-right: 30px;
}

.two_btn_group {
  display: flex;
  flex-wrap: nowrap;
}
