.one-topic {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin: 0 60px;
  display: grid;
  border-bottom: 1.3px solid #e1e1e1;
  padding: 20px 0;
  grid-template-columns: 2fr 4fr 1fr;
  grid-template-rows: auto;
  text-align: left;

  & > button {
    grid-column-start: 3;
    grid-row-start: row1-start;
    grid-row-end: 1;
  }

  & > .title {
    color: black;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    &:hover {
      color: #646464;
      transition: all ease 0.1s;
    }
    & > .event-status {
      width: 6px;
      height: 6px;
      border-radius: 100%;
      background: red;
      display: inline-block;
      margin-right: 5px;
    }
    & > .active {
      background: green;
    }
  }
  & > .subscribers {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: #C8C8C8;
  }

  & > span {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: #C8C8C8;
    margin-left: 20px;
    margin-bottom: 5px;
  }
  & > div {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: #323232;
    max-width: 250px;
    margin-bottom: 5px;
  }
}

.user-topic__container {
  margin-bottom: 100px;
}

.topic-description {
  margin: 0 10px;
}

.topic-description + button {
  margin: 10px 10px 150px;
}

.one-topic-container {
  &  .description {
    display: flex;
    & > span {
      margin-right: 20px;

    }
    & > button {
      margin-left: auto;
      height: min-content;
      min-width: 160px;
    }

  }
}

@media all and (max-width: 550px) {
  .one-topic {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: nowrap;
    & > span,
    & > span + div {
      display: flex;
      width: 100%;
    }

    & > div + span {
      margin-top: 20px;
    }
  }
}

.add_btn {
  margin: 40px 60px;
}

.no-topic-events {
  margin: 40px;
  display: flex;
  font-size: 18px;
  justify-content: center;
}
