.user_block {
  color: #323232;
  width: 100%;
  & > thead {
    & > tr {
      & > th {
        border-bottom: 1.3px solid #F0F0F0;
        height: 44px;
        padding: 5px;
        font-weight: normal;
        text-align: left;
        transition: all ease 0.1s;
        cursor: pointer;
        &:first-child {
          padding-left: 60px;
        }
        &:last-child {
          padding-right: 60px;
        }
        &:hover {
          color: #646464;
          transition: all ease 0.1s;
        }
      }
      & > .active {
        color: #0064FF;
        &:hover {
          color: #288eff;
        }
        &::after {
          content: '↓';
          position: absolute;
          margin-left: 5px;
        }
      }
      & >  .up {
        &::after {
          content: '↑';
          position: absolute;
          margin-left: 5px;
        }
      }
    }
  }
  & > tbody {
    & > tr {
      & > td {
        border-bottom: 1.3px solid #F0F0F0;
        height: 38px;
        padding: 5px;
        text-align: left;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        &:first-child {
          padding-left: 60px;
        }
        &:last-child {
          text-align: center;
          width: 10%;
          padding-right: 60px;
        }
        & a {
          text-decoration: none;
          color: inherit;
          &:hover {
            opacity: 0.7;
          }
        }
      }
    }
  }
}
.bannedUser {
  color: #A1A1A1;
}
.adminUser {
  color: #0064FF;
}

.user-info__container {
  margin: 0 10px 100px;
  display: flex;
  & > .info {
    flex: 1;
    padding: 0 40px;
    & > p {
      margin-top: 0;
      font-size: 18px;
    }
  }
}

@media all and (max-width: 767px) {
  .user-info__container {
   flex-direction: column;
    & > .info {
      padding: 20px 0;
    }
  }
}
@media all and (max-width: 450px) {
  .user_block thead tr th {
    text-align: center;
  }

  .user_block td:last-child {
    display: none;
  }

  .user_block tr:nth-child(n){
    text-align: center;
  }

  .user_block td:nth-child(n) {
    text-align: center;
  }

  .user-info__container img {
    width: 100%;
  }
}
