.eventName {
    margin: 15px 0;
    color: #323232;
    font: 18px "Roboto";
    font-weight: bold;
}

.eventContainer {
    position: relative;
    margin-bottom: 15px;
}

.eventDescItem:nth-child(2) .eventName {
    margin: 20px 0;
}