.map__body{
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
}

.map__container {
    width: 95%;
    height: 400px;
}

@media all and (max-width: 550px) {
    .map__container {
        width: 100%;
        height: 200px;
    }
  
 }