.info-About-Event{
    margin-bottom: 30px;
  }

  .info-About-Event div+div {
    margin-top: 15px;
  }
  
  .info-title {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: #C8C8C8;
    margin-left: 30px;
    margin-right: 70px;
  }
  
  .info-row {
    display: flex;

    & > span {
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 16px;
      color: #323232;
    }
  }

  @media all and (max-width: 550px) {
    .info-title {
      margin-left: 15px;
    }
 }
