.form {
 margin: 30px auto;
 max-width: 380px;
}

.admin_login_button {
  margin: 30px auto;
}

.form__field-input {
  position: relative;
  padding: 22px 0;
  margin: 10px 0;
  font-size: 16px;
  width: 100%;
  color: #C8C8C8;
  border: none;
  border-bottom: 1px solid #0064ff4d;
  outline: 0;
  background: transparent;

  &:focus {
    background-color: transparent;
    color: #323232;
    border-bottom: 1px solid #0064ff;
  }
  &:last-of-type {
    margin-bottom: 30px;
  }
  &::placeholder {
    color: #C8C8C8;
};
}

.form__submit-btn-wrapper {
  padding: 20px;
  background-color: #fff;
  display: flex;
  justify-content: center;
}

.form__submit-btn {
  border: 1px solid #6CC0E5;
  padding: 0.5em 1em;
  background-color: #6CC0E5;
  color: white;
  display: block;
  position: relative;
  margin: 20px auto 0;
  min-width: 120px;
  border-radius: 25px;

}

.js-form__err-animation {
  animation: shake 150ms ease-in-out;
}

.form__error-wrapper {
  justify-content: center;
  max-width: calc(100% - 2em);
  margin: 20px auto 1em;
}

.form__error,
.form__ban {
  background-color: #FB4F4F;
  color: white;
  margin: 0;
  padding: 0.5em 1em;
  font-size: 0.8em;
  font-family: 'Roboto', sans-serif;
  user-select: none;
}

.form__ban {
  background-color: #0064FF;
}

.js-form__err .form__error-wrapper {
  display: flex;
}

.js-form__err--user-doesnt-exist .form__error--username-not-registered,
.js-form__err--username-exists .form__error--username-taken,
.js-form__err--password-wrong .form__error--wrong-password,
.js-form__err--field-missing .form__error--field-missing {
  display: inline-block;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(10px);
  }
  75% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}
