.main__header {
    margin-top: 10px;
    font: 36px/normal "Roboto";
    line-height: 42px;
    color: #333333;
    text-align: center;
    font-weight: 300;

}

.main__description {
    margin: 0 0 51.5px 0;

    text-align: center;
    font: 18px/normal "Roboto";
    color: #323232;
}

.shadow_container {
    border-top: 1px solid #EFEFEF;
    background: linear-gradient(180deg, #FAFAFA, #FEFEFE );
    height: 35px;
    width: 100%;
}
.main__header__link{
   padding-top: 18px;
    margin: 0;
    font: 36px/normal "Roboto";
    line-height: 42px;
  font-weight: 300;
    color: #333333;
    text-align: center;
}

.main__header__link:hover{
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    color: #0064FF;
}
