
.shadow_container {
  height: 35px;
  border-top: 1px solid #EFEFEF;
  background: linear-gradient(180deg, #FBFBFB, #FEFEFE);;
}

.topic-wrapper {
  font-family: 'Roboto';
  max-width: 1024px;
  margin: 0 auto;
}

.map-section_container {
  margin: 10px 50px 0 50px;
}

.section_header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  & > h2 {
    font: 36px/normal 'Roboto';
    line-height: 42px;
    color: #323232;
  }
}

.section__place,
.time__descr {
  display: flex;
  align-items: center;
}

.map__descr {
  display: flex;
  margin-top: 10px;
}

.section__topic__title {
  width: 20%;
}

h2, h3 {
  margin: 0;
}

@media all and (max-width: 550px) {
  .map__descr {
    flex-direction: column;
  }

  .map__descr h3 {
    margin-bottom: 10px;
  }

  .section__topic__title {
    width: 50px;
  }

  .section__place p,
  .time__descr p {
    margin-left: 15px;
  }

  .section_header {
    flex-direction: column;
  }

  .section_header h2 {
    margin-bottom: 20px;
    text-align: center;
  }
}