.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    background: #FAFAFA;
}

.logo_header {
    margin: 0 50px;
}

.wrapper {
    max-width: 1024px;
    margin: auto;
}