.section__btn {
  padding: 0;
  width: 222px;
  height: 36px;
  outline: none;
  box-sizing: border-box;
  border-radius: 20px;
  background: none;
  font: 18px/normal "Roboto";
  line-height: 21px;
  text-align: center;
}

.primary {
  color: #0064FF;
  border: 2px solid rgba(0, 100, 255, 0.3);
}

.section__btn:hover:enabled {
  opacity: 0.8;
  cursor: pointer;
  color: #FFFFFF;
}

.primary:hover {
  background: #0064FF;
}

.section__btn:disabled {
  opacity: 0.5;
  cursor: default;
  background-color: transparent;
}

.btn_logout {
  border: none;
  width: auto;
  border-radius: 0;
  color: #323232;

  &:hover {
    cursor: pointer;
    background: none;
    color: rgb(50, 50, 50);
  }
}

.subscribe {
  opacity: 0.3;
  border: 2px solid #00B464;
  color: #00B464;
}

.subscribe:hover {
  background: #00B464;
}

.unsubscribe {
  color: #FF0032;
  border: none;
}

.unsubscribe:hover {
  opacity: 0.5;
}