$mr-green: #00B464;
$mr-white: #FFFFFF;
$deep-blue: #0064ff;
$deep-blue-inactive: #0064ff4d;
$metal: #323232;
$mr-yellow: #FFDC00;
$mr-red: #FF0032;
$mr-orange: #FF6400;
$background-grey: #FAFAFA;
$unactive-grey: #C8C8C8;