.event button {
  border-color: #00B464;
  color: #00B464;
}

.event button :hover {
  background-color: #00B464;
}

main {
  margin-bottom: 100px;
}

.preload_center {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  margin: 35% auto;
}