.preloader-body{
  position: fixed;
  top:0;
  left: 0;
  width: 100vw;
  height: 100vh;
  margin:auto;
}

.preloader{
    position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      width:100%;
      height:100%;
      background: #FAFAFA;
      z-index: -2;
  }

  .preloader-image__container{
    position:absolute;
  }

  .preloader-animation__container{
    position: absolute;
    left:7px;
    bottom: 11px;
    width: 96px;
    height:124px;
    clip-path: polygon(14.58% 0%, 87.5% 0%, 105.63% 19.35%, 95.83% 28.23%, 91.42% 50.66%, 81.25% 102.42%, 21.87% 104.84%, 7.29% 28.23%, -4.17% 19.35%);
    overflow: hidden;
    z-index: -1;
  }

  .preloader-animation{
    position: absolute;
    top:124px;
    left:0;
    width: 100%;
    height:100%;
    background: #8b5630;
    animation-name: coffee;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  @keyframes coffee {
    from {
      top: 124px;
    }

    to {
      top:0;
    }
  }

.preload_center {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  margin: 35% auto;
}

@media all and (max-width: 425px) {
  .preload_center {
    margin: 35vh auto;
  }
}