.h-header {
    // height: 120px;
    background: #FAFAFA;
  }
  
  .h-logo_header {
    margin: 10px 0px;
    display: flex;
    align-items: center;
    & > span {
      margin-left: 10px;
      color: #939598;
      font: 22px/normal 'Roboto Black';
    }
  }
  
  .h-wrapper {
    max-width: 1024px;
    margin: 0 auto;
  }
  
  .h-header__container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 50px;
  }
  
  
  .h-nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .h-user__img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  
  .h-user__info {
    display: flex;
    margin: 0 20px 0 10px;
    align-items: center;
    font: 16px/normal "Roboto";
    color: #C8C8C8;
  }
  
  .h-header__dropdown {
    margin: 10px 0px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    //padding-right: 20px;
    position: relative;
  }
  
  
  @media all and (max-width: 450px) {
    .h-header__container {
      margin: 0 20px;
      flex-direction: column;
      justify-content: flex-start;
    }

    .h-logo_header {
      margin: 10px 0px;
    }

    .h-nav {
      margin: 10px 0 0 0;
    }

    .h-header__dropdown {
      margin:15px 0 35px 0;
    }
  }