.selection{
  color: #C8C8C8;
  border: none;
}

.selection:hover{
  color: #000;
}

.selection:focus{
  color: #0064FF;
  outline: none !important;
}

.dropdown_container{
  position: relative;
  color: #000;
  width: fit-content;
  cursor: pointer;
}

.arrow{
  padding-left: 5px;
  padding-bottom: 2px;
}

.focused{
  background-color: #FFFFFF;
  padding: 10px 20px;
  border-radius: 5%;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}