
.form__field-input {
  position: relative;
  padding: 20px 0;
  font-size: 16px;
  width: calc(100% - 20px);
  color: #666;
  border: none;
  border-bottom: 1px solid cornflowerblue;
  outline: 0;
  background: transparent;
  margin-top: 10px;
  bottom: 10px;
  &:focus {
    background-color: #EDEDED;
    color: #333;
  }
}

.form__submit-btn-wrapper {
  padding: 20px;
  background-color: #fff;
  display: flex;
  justify-content: center;
}

.form__submit-btn {
  border: 1px solid #6CC0E5;
  padding: 0.5em 1em;
  background-color: #6CC0E5;
  color: white;
  display: block;
  position: relative;
  margin: 20px auto 0;
  min-width: 120px;
  border-radius: 25px;

}

.js-form__err-animation {
  animation: shake 150ms ease-in-out;
}

.form__error-wrapper {
  justify-content: center;
  max-width: calc(100% - 2em);
  margin: 20px auto 1em;
}

.form__error {
  background-color: #FB4F4F;
  color: white;
  margin: 0;
  padding: 0.5em 1em;
  font-size: 0.8em;
  font-family: 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  user-select: none;
}

.js-form__err .form__error-wrapper {
  display: flex;
}

.js-form__err--user-doesnt-exist .form__error--username-not-registered,
.js-form__err--username-exists .form__error--username-taken,
.js-form__err--password-wrong .form__error--wrong-password,
.js-form__err--field-missing .form__error--field-missing {
  display: inline-block;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(10px);
  }
  75% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}
