.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 80px;
    background: #FAFAFA;
    z-index: 11;
}

.footer__title {
    line-height: 24px;
    text-align: right;
    color: #C8C8C8;
    margin: 0 30px 30px 0;
    font: 12px/normal "Roboto";
}

.footer-wrapper {
    max-width: 1024px;
    margin: auto;
}