.eventDesc {
    max-width: 1024px;
    margin: auto;
}

.eventDescItem {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 30px;
    border-bottom-color: #C8C8C8;
    border-bottom-width: 0.5px;
    border-bottom-style: solid;
}