@import '../styles.scss';

.week_picker  {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    color: $metal;
    background: #ffffff;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding: 1em;
}

.week_picker_title {
    margin-bottom: 0.5em;
}

.week_picker_days {
    display: flex;
}

.week_picker_label {
    font-size: 10px;
    font-weight: 700;
    padding: 3px;

}

.week_picker_label:hover  {
    color:rgb(0, 100, 255);
    opacity: 1;
    cursor: pointer;
}

.week_picker_radio  {
    display: none;
}

